- name: Update the Foundry server
  hosts: hetzner_hosts
  gather_facts: false

  vars_prompt:
    - name: source
      prompt: source/file/location.zip (Node.js version)
      private: false

  tasks:
    - name: Verify file location
      delegate_to: localhost
      stat:
        path: "{{ source }}"
      register: file_path
      failed_when: file_path.stat.exists == false or file_path.stat.mimetype != "application/zip"

    - name: Stop Foundry service
      shell: systemctl stop foundry.service

    - name: Backup existing data
      shell: |
        mkdir -p /backups

        current_time=$(date +%s)
        zip -o -r /backups/foundryvtt_archive_$current_time.zip /foundryvtt
        zip -o -r /backups/foundrydata_archive_$current_time.zip /foundrydata

        shopt -s dotglob
        rm -rf /foundryvtt/*

    - name: Upload install zip to server
      copy:
        src: "{{ file_path.stat.path }}"
        dest: "/foundryvtt/{{ file_path.stat.path | basename }}"
        mode: u+rwx

    - name: Unzip install files
      shell: "apt install -y unzip && unzip -o {{ file_path.stat.path | basename }}"
      args:
        chdir: "/foundryvtt"

    - name: Cleanup installation files from server
      shell: "rm /foundryvtt/{{ file_path.stat.path | basename }}"

    - name: Resume Foundry service
      shell: systemctl start foundry.service
