apiVersion: v1
kind: Service
metadata:
  name: teamspeak-service
  namespace: teamspeak
  labels:
    app: teamspeak
spec:
  type: LoadBalancer
  allocateLoadBalancerNodePorts: true
  externalTrafficPolicy: Cluster
  internalTrafficPolicy: Cluster
  ports:
    - port: 9987
      protocol: UDP
      name: voice-port
      targetPort: 9987
      nodePort: 32420
    - port: 30033
      protocol: TCP
      name: file-transfer
      targetPort: 30033
      nodePort: 32421
    - port: 10080
      protocol: TCP
      name: web-query
      targetPort: 10080
      nodePort: 32422
  selector:
    app: teamspeak