apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: teamspeak-data
  namespace: teamspeak
  annotations:
    argocd.argoproj.io/sync-options: Delete=false
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-path
  volumeMode: Filesystem