apiVersion: batch/v1
kind: CronJob
metadata:
  name: fetch-vm-public-ip
  namespace: foundry
spec:
  schedule: "*/15 * * * *"
  concurrencyPolicy: Replace
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: ip-fetcher
              image: docker.io/mephalrith/fetch-foundry-ip:v0.1
              imagePullPolicy: IfNotPresent
              env:
                - name: API_KEY
                  valueFrom:
                    secretKeyRef:
                      name: cloudflare
                      key: dns-api-key
                - name: SERVICE_URL
                  value: "http://prometheus-stack-prometheus-pushgateway.grafana.svc.cluster.local:9091"
