apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: dashboard
  namespace: traefik
spec:
  routes:
    - match: (Host(`noodles.local`) && PathPrefix(`/api`)) || (Host(`noodles.local`) && PathPrefix(`/dashboard`))
      kind: Rule
      services:
        - name: api@internal
          kind: TraefikService
