apiVersion: v1
kind: Namespace
metadata:
  name: foundry
  labels:
    name: foundry
---
apiVersion: v1
kind: Namespace
metadata:
  name: traefik
  labels:
    name: traefik
---
apiVersion: v1
kind: Namespace
metadata:
  name: grafana
  labels:
    name: grafana
---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
  labels:
    name: monitoring
---
apiVersion: v1
kind: Namespace
metadata:
  name: argocd
  labels:
    name: argocd
